/* Resetting default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

/* Add in your own customisations */

header {
    background-color: #93d0f4;
    text-align: center;
    padding: 10px 0 10px 0;
}

table, th, td {
    border: 1px solid #ddd;
    border-collapse: collapse;
    padding: 10px;
    text-align: left;
}

a {
    color: #0079c1;
}

footer {
    background-color: #93d0f4;
    text-align: center;
    padding: 10px 0 10px 0;
    margin-top: 20px;
}

h2 {
    margin-top: 20px;
}

table {
    width: 100%;
}

h2 {
    font-family: Geogia, serif;
}